services:
  sonarqube-client:
    image: sonarqube:26.1.0.118079-community@sha256:90c9de0f2d5609c696aae213ed6ea3c347eeb6d851a552d6f08922aeda28bed6
    container_name: sonarqube-client
    restart: unless-stopped
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://sonarqube-database:5432/${POSTGRES_DB}
      - SONAR_JDBC_USERNAME=${POSTGRES_USER}
      - SONAR_JDBC_PASSWORD=${POSTGRES_PASSWORD}
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_temp:/opt/sonarqube/temp
      - sonarqube_logs:/opt/sonarqube/logs
    labels:
      - docker-volume-backup.stop-during-backup=true
    depends_on:
      - sonarqube-database
    networks:
      - sonarqube_network
      - cloudflare_network
  
  sonarqube-database:
    image: postgres:17.7-trixie@sha256:02412c97872f2d77e96b6a91a2344ae8263ab647c0998c4e3311053e3a19ef33
    container_name: sonarqube-database
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    labels:
      - docker-volume-backup.stop-during-backup=true
    networks:
      - sonarqube_network

  sonarqube-backup:
    image: ghcr.io/offen/docker-volume-backup:v2.46.1@sha256:039188f012d26178e68a0bb906cd408b9fc197069e8076d03014a31a5fed1406
    container_name: sonarqube-backup
    restart: always
    environment:
      - BACKUP_RETENTION_DAYS=3
      - BACKUP_CRON_EXPRESSION=20 2 * * *
      - BACKUP_FILENAME=backup-sonarqube-%Y-%m-%dT%H-%M-%S.tar.gz
      - AWS_ENDPOINT=${AWS_ENDPOINT}
      - AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    volumes:
      - sonarqube_data:/backup/sonarqube_data:ro
      - sonarqube_extensions:/backup/sonarqube_extensions:ro
      - sonarqube_postgres_data:/backup/sonarqube_postgres_data:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - sonarqube_network

volumes:
  sonarqube_data:
    name: sonarqube_data
    driver: local
  sonarqube_extensions:
    name: sonarqube_extensions
    driver: local
  sonarqube_temp:
    name: sonarqube_temp
    driver: local
  sonarqube_logs:
    name: sonarqube_logs
    driver: local
  sonarqube_postgres_data:
    name: sonarqube_postgres_data
    driver: local

networks:
  sonarqube_network:
    driver: bridge
  cloudflare_network:
    external: true

name: sonarqube
