services:
  portainer-client:
    image: portainer/portainer-ce:2.33.6@sha256:6f880b88fd50f1e79572273b463aea36f28b307d14b6a5a31e702cc7916a8423
    container_name: portainer-client
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    labels:
      - docker-volume-backup.stop-during-backup=true
    networks:
      - cloudflare_network
  
  portainer-backup:
    image: ghcr.io/offen/docker-volume-backup:v2.46.1@sha256:039188f012d26178e68a0bb906cd408b9fc197069e8076d03014a31a5fed1406
    container_name: portainer-backup
    restart: always
    environment:
      - BACKUP_RETENTION_DAYS=3
      - BACKUP_CRON_EXPRESSION=0 2 * * *
      - BACKUP_FILENAME=backup-portainer-%Y-%m-%dT%H-%M-%S.tar.gz
      - AWS_ENDPOINT=${AWS_ENDPOINT}
      - AWS_S3_BUCKET_NAME=${AWS_S3_BUCKET_NAME}
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
    volumes:
      - portainer_data:/backup/portainer_data:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    networks:
      - portainer_network

volumes:
  portainer_data:
    name: portainer_data
    driver: local

networks:
  portainer_network:
    name: portainer_network
    driver: bridge
  cloudflare_network:
    external: true

name: portainer
